requests
bs4
beautifulsoup4
joblib
more-itertools
nltk
scikit-learn
pandas
Cython
dateparser
python-dateutil
email-scraper
python-crfsuite
numpy
regex
python-telegram-bot
googletrans==2.4.0
git+git://github.com/irshadbhat/litcm.git
git+git://github.com/libindic/indic-trans.git
https://github.com/kpu/kenlm/archive/master.zip
